@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}



html, body{
    background-image: linear-gradient(to right, #F2E3D5,#04ADBF);
}

header{
    background-color: white;
    box-shadow: 2px 2px 2px black;
}

header > h1{
    padding: 10px;
    text-align: center;
    color: #7EA629;
    text-shadow: 1px 1px 2px black;
}

span#burger{
    background-color: #04ADBF;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burger:hover{
    background-color: white;
    color: black;
}




menu{
    display: none; /*pra ele nao aparecer*/
}

menu > ul{
    list-style-type: none;
    text-decoration: none;
    color: black;

}

a:visited{
    color: black;
}

/*menu > ul > li{
    border: 1px solid black;
    border-radius: 10px;
}*/



menu > ul > li > a{
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: white;
    
}

menu > ul > li > a:hover{
    background-color: #04ADBF;
    border: 2px solid black;
    border-radius: 15px;
}

main{
    width: 100%;
    background-color: white;
    margin: auto; /*centralizar*/
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
   
}

/*
article{
    width: 80%;
}*/

article >p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
   

}

article >h2{
    padding-bottom: 20px;

}